.main-content {
    margin-bottom: 50px;

    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom:20px;
        td{
            border: solid 1px gray;
            padding: 10px;
        }

    }

    .link {
        margin-top: 10px;
    }
}

.main-content-title {
    h3 {
        color: blue
    }
}