.sidebar-link-comp {
    list-style-type: none;
    padding: 20px;
    margin-bottom: 5px;
    border-bottom: solid 1px #848080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}